html, body {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* setup telegram css variables as theme values */
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

* {
  box-sizing: border-box;
}